.*
*.*~
*.py~
*.pyc
*.txt
trash/*
adolc-1.11.0-trunk/
adolc-1.11.0-trunk/*
build
release
release/*
report/*
*.png
*.svg
*.dot
*.o
*.os
*.so
*.eps
*~
*.tex
Doxyfile
build
*.log
*.exe

adolc-2.0.0
jac_pat.mtx

setup.py
SConstruct

# EXCEPTIONS
!README
!.gitignore
